body {
    position: inherit;
    z-index: 99;
}

.input, .button {
    margin-left: auto;
    margin-right: auto;
}

 body div {
    position:absolute;
    color: #000;
    background-color: tomato;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 10px;
    top: 35px;
    cursor: pointer;
}

.elem0 {
    left: 13px
}

.elem1 {
    left: 23px;
}

.elem2 {
    left: 33px;
}

.elem3 {
    left: 43px;
}

.elem4 {
    left: 53px;
}

.elem5 {
    left: 63px;
}

.elem6 {
    left: 73px;
}

.elem7 {
    left: 83px;
}

.elem8 {
    left: 93px;
}

.elem9 {
    left: 103px;
}

.elem10 {
    left: 113px;
}

.elem11 {
    left: 123px;
}

.elem12 {
    left: 133px;
}

.elem13 {
    left: 143px;
}

.elem14 {
    left: 153px;
}

.elem15 {
    left: 163px;
}

.elem16 {
    left: 173px;
}

.elem17 {
    left: 183px;
}

.elem18 {
    left: 193px;
}

.elem19 {
    left: 203px;
}

.elem20 {
    left: 213px;
}

.elem21 {
    left: 223px;
}

.elem22 {
    left: 233px;
}

.elem23 {
    left: 243px;
}

.elem24 {
    left: 253px;
}

.elem25 {
    left: 263px;
}

.elem26 {
    left: 273px;
}

.elem27 {
    left: 283px;
}

.elem28 {
    left: 293px;
}

.elem29 {
    left: 303px;
}